@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

.App {
  width: 100%;
  display: flex;
  align-items: center;  
  text-align: center;
  justify-content: center;
 // justify-content: space-between;
  flex-direction: column;
  
}

body {
  background: rgb(0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(61, 0, 102, 0.726), rgb(0, 63, 100)),
  url("./components/media/images/radio1.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  color: rgb(189, 176, 206);
}

h2 {
  color: #00bdd6d3;
  font-size: 1.2rem;
}

img {
  width: 50%;
  max-width: 100%;
  display: block;
  height: auto;
  justify-content: center;
}
